@charset "UTF-8";

/*font*/

@font-face {
    font-family: 'north_carosselaregular';
    src: url('../font/north_carossela-webfont.eot');
    src: url('../font/north_carossela-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/north_carossela-webfont.woff2') format('woff2'),
        url('../font/north_carossela-webfont.woff') format('woff'),
        url('../font/north_carossela-webfont.ttf') format('truetype'),
        url('../font/north_carossela-webfont.svg#north_carosselaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'editionregular';
    src: url('../font/edition_-webfont.eot');
    src: url('../font/edition_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/edition_-webfont.woff2') format('woff2'),
         url('../font/edition_-webfont.woff') format('woff'),
         url('../font/edition_-webfont.ttf') format('truetype'),
         url('../font/edition_-webfont.svg#editionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'optidanley-mediumregular';
    src: url('../font/optidanley-medium-webfont.eot');
    src: url('../font/optidanley-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/optidanley-medium-webfont.woff2') format('woff2'),
         url('../font/optidanley-medium-webfont.woff') format('woff'),
         url('../font/optidanley-medium-webfont.ttf') format('truetype'),
         url('../font/optidanley-medium-webfont.svg#optidanley-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'spider_kingregular';
    src: url('../font/spiderking-webfont.eot');
    src: url('../font/spiderking-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/spiderking-webfont.woff2') format('woff2'),
         url('../font/spiderking-webfont.woff') format('woff'),
         url('../font/spiderking-webfont.ttf') format('truetype'),
         url('../font/spiderking-webfont.svg#spider_kingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*커서 부분*/

.cursor{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 250px;
    z-index: 1000;
    height: 250px;
    
    /*padding: 10px;*/
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    border: 3px solid #f6f2ed;;
    -webkit-transform: scale(.15);
    -ms-transform: scale(.15);
    transform: scale(.15);
    pointer-events: none;
}
.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url(../img/see.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    opacity: 0;
}
.cursor.active {
    background: #fff;
    opacity: 1;
    transform: scale(0.5);
    
}

.cursor.active::before {
    opacity: 1;
    animation: shake .4s infinite ;
}
@keyframes shake{
    0%{
        transform: rotate(-15deg);
    }
    50%{ transform: rotate(0deg);
    }
    100%{transform: rotate(15deg);
    }
}

/*layout*/
#section1 {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    /*height: 100vh;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0B0B0B;
}

#section2 {
    text-transform: uppercase;
    overflow: hidden;
    background: #0B0B0B;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section3 {
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    background: #0B0B0B;
}
.footer-container {
    display: flex;
    overflow: hidden;
    padding: 1%;
    padding-top: 1%;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
}
footer {
    overflow: hidden;
    width: 100%;
    height: 68px;
    color: #fff;
    background: #0B0B0B;
}
footer .text-default{
    color: #fff;
}


.container {
    overflow: hidden;
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
/* scroll */
.scroll {
    position: fixed;
    left: 20px; bottom: 20px;
    color: #F5F2ED;
    z-index: 100000;
    font-family: 'north_carosselaregular';
}

/*header*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.13);
    display: flex;
    align-items: center;
    z-index: 10000;
    justify-content: space-between;
    color: #fff;
}

#header h1 {
    color: #fff;
    font-family: "Abel";
    padding: 2vw;
}

#header .nav {
    padding: 1.6vw 2vw 2vw 2vw;
    background: none;
}

#header .nav span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
}

#header .nav span::before {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 7px;
}

#header .nav span::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 7px;
}
#header.show {
    top : 0;
    transition: top 0.44s 1s ease-in-out;
}

/*scroll menu*/
.overlay {
	position: fixed;
    z-index: 10000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(11, 11, 11,0.9);
}
.overlay-close {
	position: absolute;
	right: 40px;
	top: 20px;
    font-size: 1vw;
    font-family:'north_carosselaregular';
    overflow: hidden;
	border: none;
	color: #fff;
    
	
	z-index: 100000;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay nav {
	text-align: center;
	position: relative;
    z-index: 30000;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
    font-family:'north_carosselaregular';
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #6b576a;
    background-image: url(../img/round.png);
    background-size: 100% 100%;
}
/* Effects */

.overlay-contentscale {
	visibility:hidden;
    -webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.8s;
    
}
.open {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.overlay-open {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
/*section1*/
.pre-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pre-title-w{
    overflow: hidden;
    position: relative;
    bottom: -50px;
    opacity: 0;
}
.pr-thumb-w.prt-1{
    margin-bottom: .1vw;
}
.pr-thumb-w{
    position: relative;
    overflow: hidden;
    margin-bottom: .7vw;
    
}

.pr-thumb{
    width: 7.3vw;
}
.pr-thumb-w.prt-1 img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.pr-thumb-w.prt-2{
    margin-top: .3vw;
    margin-bottom: 0;
}
.pre-title{
    -webkit-text-stroke: .5px #F5F2ED;
    -webkit-text-fill-color: transparent;
    font-family:'optidanley-mediumregular';
    display: inline-block;
    letter-spacing: .02em;
    margin-right: 1vw;
    margin-left: 1.3vw;
    padding-top: .8vw;
    font-size: 8vw;
    line-height: 8vw;
   text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    
}
.pre-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #0B0B0B;
    width: 100%;
    height: 100%;
   
}
.pre-overlay2{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../img/aus.l.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%90%;
}
.pr-thumb.w-dyn-bind-empty{
    display: none!important;
}
.pre-title.pr-fill{
    -webkit-text-stroke: transparent;
    -webkit-text-fill-color: #fff;
    margin-right: 0;
    padding-right: .8vw;
}
.pr-inner{
    display: -webkit-box;
    display: -webkit-flex;
    font-family:'optidanley-mediumregular';
    display: -ms-flexbox;
    display: flex;
    margin-top: 1vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20%;
    opacity: 0;
}
.pr-div.prd-1{
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.pr-div{
    width: 8vw;
    height: 1px;
    background-color: #6b576a;
}
.pr-client-w{
    overflow: hidden;
    margin-right: 1vw;
    margin-left: 1vw;
}
.pr-client{
    padding-top: .5vw;
    padding-right: 1vw;
    color: #6b576a;
    margin-top: 0;
    margin-bottom: 0;
    font-family:'optidanley-mediumregular';
    font-size: 6vw;
    line-height: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    }
.pr-div.prd-2{
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.pr-scroll{
    position: absolute;
    left: 6vw;
    bottom: 6vw;
    overflow: hidden;
    opacity: 0;
    width: 4vw;
}
.w-inline-block{
    max-width: 100%;
    float: right;
    display: inline-block;
}
.w-embed::after,.w-embed::before{
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;

}
.pr-arrow.w-embed{
    width: 100%;
    height: 100%;
}
.sound.soundtoggler{
    right: 6vh;
    bottom: 6vh;
    width: 8vh;
    height: 8vh;
}
.sound{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 10vh;
    height: 10vh;
}

.soundtoggler canvas{
    width: 100%;
    height: 100%;
}
canvas{
    display: inline-block;
    vertical-align: baseline;
}
/*section2*/

.section-title {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-bottom: 75px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    align-items: flex-end;
}
.heading-line {
    display: block;
    overflow: hidden;
}
.heading_1 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 7vw;
    color: #f6f2ed;
    transform: translateX(-100px);
    font-family:'north_carosselaregular';
    letter-spacing: -0.02em;
    opacity: 0;
}

.w-featured {
    width: 100%;
    -webkit-box-align: start;
    align-items: start;
    grid-column-gap: 150px;
    grid-row-gap: 200px;
    grid-template-rows: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
}

/*컨텐츠들*/
.featured-card {
    margin-top: 25%;
    max-width: 100%;
    display: inline-block;
}

.featured-card.offset {
    margin-top: 0;
}

.card-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.heading-line h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cafe24SsurroundAir';
    font-size: 2.5vw;
    color: #F5F2ED;
    line-height: 1;
    opacity: 0;
    transform: translateY(-20px);
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

.card-date {
    margin-bottom: 7px;
    font-weight: 200;
    font-size: 1vw;
    color: #F5F2ED;
}

.card-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin-bottom: 0;
    padding-top: 125%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
}
.card img{
    width:100%;
    height: 100%;
}
.card{opacity: 0;}
.content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Cafe24SsurroundAir';
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-align: center;
    align-items: center;
    color: #F5F2ED;
    font-size: 1vw;
    opacity: 0;
    border-bottom: .5px solid rgba(246, 242, 237, .5);
}

.card-cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrow-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrow-wrap svg {
    position: relative;
    width: 25px;
    height: 19px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/*section3*/
.layout-grid {
    width: 100%;
    font-family: 'north_carosselaregular';
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 200px;
    grid-template-rows: auto;
    -webkit-box-align: end;
    -webkit-align-items: end;
    align-items: end;
    opacity: 0;
}

.section-title {
    position: relative;
    display: inline-block;
    width: 100%;
}

.heading_1.margin-bottom {
    margin-bottom: 40px;
}

.section-title div {
    color: #f6f2ed;
    font-size: 1.2vw;
    font-family: 'north_carosselaregular';
}

.inline-link {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    cursor: none;
    color: #f6f2ed;
    font-size: 1.2vw;

}

.heading_2 {
    display: inline-block;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-weight: 600;
    font-family:'north_carosselaregular';
    letter-spacing: -0.02em;
    color: #f6f2ed;
    font-size: 7vw;
}

.text-block {
    display: inline-block;
}

.text-default {
    position: relative;
    font-family: 'north_carosselaregular';
    font-size: 1.2vw;
    color: #f6f2ed;
}

.section-title2 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.layout-grid .clients {
    padding-bottom: 25px;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-size: 1.2vw;
    line-height: 1.4;
    text-transform: uppercase;
    color: #f6f2ed;
}
.clients a{
    color: #f6f2ed;
}
.divider .margin-bottom-50 {
    height: .5px;
}

.margin-bottom-50 {
    margin-bottom: 50px;

}

.divider {
    position: relative;
    display: flex;
    width: 100%;
    border: .5px solid rgba(246, 242, 237, .5);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.hello-grid {
    position: relative;
    margin-bottom: -5px;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.hello-grid a {
    font-size: 1.2vw;
    color: #f6f2ed;
}

#heading-4 {
    color: #f6f2ed;
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2vw;
    line-height: 1.3;
    font-weight: 400;
}

.hello-social {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;

}

.inline-block {
    max-width: 100%;
    margin-right: 25px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    align-self: auto;
}

.external-link {
    transform: rotate(-45deg);
    display: flex;
    margin-left: 5px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

/*footer*/
.w-inline-block {
    max-width: 100%;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: center;
    align-self: auto;
    cursor: none;
}

.arrow-wrap.scroll-up {
    transform: rotate(-90deg);
}